@use "../vars.module.scss";

.image {
  max-width: 800px;
  overflow: hidden;
  & > span {
    border-radius: calc(vars.$borderRadius * 0.5);
  }
}
.description {
  padding: calc(vars.$unit * 2);
  padding-right: calc(vars.$unit * 8);
}
.description:last-child {
  padding-right: calc(vars.$unit * 2);
  padding-left: calc(vars.$unit * 8);
}

@media only screen and (max-width: 800px) {
  .description {
    order: -1;
    padding-right: calc(vars.$unit * 2);
  }
  .description:last-child {
    padding-left: calc(vars.$unit * 2);
  }
}
