@use "../vars.module.scss";

#logo {
  border-radius: 50%;
}

#subtitle {
  width: 60%;
  text-align: center;
}
#backgroundWrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
