@use "../vars.module.scss";

%button {
  padding: vars.$unit calc(vars.$unit * 2);
  border-radius: calc(1rem * 2);
  border: none;
  background: vars.$secondaryColor;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  & > * {
    font-size: inherit;
    line-height: 1rem;
  }
}
[data-theme="dark"] {
  .base {
    background: vars.$secondaryColorDark;
  }
}

.base {
  @extend %button;
}
.cta {
  @extend %button;
  background: vars.$brandColor;
  color: #fff;
  font-weight: bold;
}

.large {
  padding: calc(vars.$unit * 1.3) calc(vars.$unit * 2.5);
  border-radius: calc(vars.$unit * 3);
  font-size: large;
  font-weight: bold;
}
.huge {
  padding: calc(vars.$unit * 2) calc(vars.$unit * 5);
  border-radius: calc(vars.$unit * 3);
  font-weight: bold;
  font-size: 1.2rem;
}

.icon {
  padding: 0;
  border-radius: 50%;
}
.prefix {
  margin-right: calc(vars.$unit * 0.5);
}
