@use "../vars.module.scss";

%button {
  padding: vars.$unit calc(vars.$unit * 2);
  border-radius: calc(vars.$unit * 2);
  border: none;
  background: vars.$secondaryColor;
  cursor: pointer;
}
[data-theme="dark"] {
  .base {
    background: vars.$secondaryColorDark;
  }
}
.base {
  @extend %button;
}
.cta {
  @extend %button;
  background: vars.$brandColor;
  color: #fff;
}

.large {
  padding: calc(vars.$unit * 1) calc(vars.$unit * 2.5);
  border-radius: calc(vars.$unit * 3);
  font-size: large;
  font-weight: bold;
}
.huge {
  padding: calc(vars.$unit * 2) calc(vars.$unit * 5);
  border-radius: calc(vars.$unit * 3);
  font-size: large;
  font-weight: bold;
  font-size: 1.5rem;
}
