@use "../vars.module.scss";

#footer {
  z-index: 1;
  width: 100%;
  padding: vars.$unit;
  -webkit-box-shadow: 0px -1px 1px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -1px 1px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -1px 1px 0px rgba(0, 0, 0, 0.35);
  margin-top: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: vars.$secondaryColor;

  & a {
    color: #7367f0;
  }
}
.links {
  display: flex;
  & > * {
    margin-right: vars.$unit;
  }
}
[data-theme="dark"] {
  #footer {
    background-color: vars.$secondaryColorDark;
  }
}
