@use "../vars.module.scss";
#header {
  display: flex;
  padding: vars.$unit;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.35);
  background-color: vars.$secondaryColor;
}
@media (prefers-color-scheme: dark) {
  #header {
    background-color: vars.$secondaryColorDark;
  }
}
#nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#logo {
  border-radius: 50%;
  height: 46px;
  width: 46px;
  background-color: vars.$brandColor;
}
