@use "../vars";
#header {
  display: flex;
  padding: vars.$unit;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.35);
}

#nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#logo {
  border-radius: 50%;
  height: 64px;
  width: 64px;
  background-color: vars.$brandColor;

  // temp for draft
  text-align: center;
  line-height: 64px;
  font-weight: bold;
}
