@use "../vars.module.scss";

.heroContainer {
  position: relative;
  width: 100%;
}

#backgroundWrapper {
  position: absolute;
  top: -74px;
  left: 0;
  width: 100%;
  height: calc(100% + 74px);
  z-index: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

#logo {
  border-radius: 50%;
  width: 320px;
  height: 320px;
}

#subtitle {
  width: 60%;
  text-align: center;
  margin-top: 0;
}

.hero {
  min-height: 75vh;
  margin-bottom: vars.$unit;
}

@media only screen and (max-width: 500px) {
  .hero {
    min-height: 70vh;
    margin-top: vars.$unit;
  }
  #subtitle {
    width: 90%;
  }
}
