$brandColor: #7452d4;
$primaryColor: #eeedff;
$secondaryColor: #f9f6fe;
$unit: 12px;

:export {
  brandColor: $brandColor;
  primaryColor: $primaryColor;
  secondaryColor: $secondaryColor;
  unit: $unit;
}
